<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <script src='script/form.js'></script>

        <div id="main_div" class="jumbotron">
            <h2>Formulaire</h2>
            <div id="div_f_name" class="form-group">
                <div class="form-group">
                    <label for="exampleSelect1">Sexe</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>♂ Homme</option>
                        <option>♀ Femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input class="form-control" type="number" value="42" id="age">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Orientation</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>Heterosexuelle</option>
                        <option>Gay / Lesbienne</option>
                        <option>Bisexuel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Biographie</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div id="add_tag_div" class="form-group">
                    <label>Centre d'interet</label>
                    <div class="form-inline">
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="add_tag" placeholder="#bg" maxlength="21">
                        <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0" onclick="add_tag()">Ajouter</button>
                    </div>
                    <small class="form-text text-muted">Sous forme de tag sans espace(ex: #bio, #geek, #piercing etc ...)</small>
                    <div id="add_tag_err" class="form-control-feedback" hidden="hidden">Erreur dans le tag</div>
                    <small id="add_tag_err_mes" class="form-text text-muted" hidden="hidden">Votre tag doit:<br/>
                        - Commencer pas un #<br/>
                        - Contenir uniquement des lettres et chiffres<br/>
                        - Posseder entre 1 et 20 caracteres (# non compris)
                    </small>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <fieldset id="my_tag_dis" <% if (!tag[0]) { %> disabled <% } %>>
                            <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="my_tag">
                                <% if (!tag[0]) { %>
                                    <option>Aucun centre d'interet</option>
                                <% } else { tag.forEach(function(val) {%>
                                    <option><%= val.tag %></option>
                                <% })} %>
                            </select>
                        </fieldset>
                        <button type="submit" class="btn btn-primary" onclick="del_tag()">Retirer</button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Photo de profil</label>
                    <input type="file" class="form-control-file" id="picture" aria-describedby="fileHelp"><button type="submit" class="btn btn-primary" onclick="picture()">Ok</button>
                    <img id="picture_preview" src="picture/default.jpg" width="200" height="200">
                </div>
                <button type="submit" class="btn btn-primary" onclick="skip()">Plus tard</button> <button type="submit" class="btn btn-primary" onclick="register()">Enregistrer</button>
            </div>
        </div>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

    </html>
