<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <% include ../script/register %>

        <div class="jumbotron">
            <h2>Inscription</h2>
            <div id="div_login" class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" id="login" placeholder="Login">
                <div id="login_err" class="form-control-feedback" hidden="hidden">Sorry, that username's taken. Try another?</div>
                <small id="login_err_mes" class="form-text text-muted" hidden="hidden">Votre login doit avoir entre 3 et 10 carateres.</small>
                <script>document.getElementById('login').addEventListener('change', login_check);</script>
            </div>
            <div class="form-group">
                <label >Mot de passe</label>
                <input type="password" class="form-control" id="pass" placeholder="Mot de passe">
            </div>
            <div class="form-group">
                <label>Mot de passe (confirmation)</label>
                <input type="password" class="form-control" id="pass_confirm" placeholder="Mot de passe">
            </div>
            <div class="form-group">
                <label>Adresse mail</label>
                <input type="email" class="form-control" id="mail" placeholder="Mail">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary" onclick="register()">S'incrire</button>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
