<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <script>
    let users = <%- JSON.stringify(users) %>
    </script>
    <script src='script/wall.js'></script>

    <div class="container">
        <div id="main_div" class="jumbotron">
            <p>
                <button id='search' class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Recherche
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <p>Criteres:</p>
                    <div class='row'>
                        <div class='col-sm-3'>
                            <div class='form-check'>
                                <label class="form-check-label">
                                    <input id='man' class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ♂ Homme
                                </label>
                            </div>
                            <div class='form-check'>
                                <label class="form-check-label">
                                    <input id='woman' class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ♀ Femme
                                </label>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='form-check'>
                                <label class="form-check-label">
                                    <input id='hetero' class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Heterosexuel
                                </label>
                            </div>
                            <div class='form-check'>
                                <label class="form-check-label">
                                    <input id='gay' class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Homosexuel
                                </label>
                            </div>
                            <div class='form-check'>
                                <label class="form-check-label">
                                    <input id='bi' class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Bisexuel
                                </label>
                            </div>
                        </div>
                        <div class='col-sm-2'></div>
                        <div class='col-sm-4'>
                            <div class='form-check'>
                                Age:
                                <small class="text-muted">Minimum <input id='s_age_min' type="number" min='16' max='120' value="16" style="width:40px"></small>
                                <small class="text-muted">Maximum <input id='s_age_max' type="number" min='16' max='120' value="120" style="width:40px"></small>
                            </div>
                            <div class='form-check'>
                                Score:
                                <small class="text-muted">Minimum <input id='s_score_min' type="number" min='0' value="0" style="width:40px"></small>
                                <small class="text-muted">Maximum <input id='s_score_max' type="number" min='0' value="100" style="width:40px"></small>
                            </div>
                            <div class='form-check'>
                                Distance:
                                <small class="text-muted">Maximum <input id='s_dis' type="number" min='1' value="50" style="width:40px"></small>
                            </div>
                        </div>
                    </div></br>
                    <p>Tag: <small class="text-muted">(rechercher quelqu'un avec des tags precis)</small></p>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <div id="add_tag_div" class="form-group">
                                <input type="text" class="form-control" id="add_tag" placeholder="#bg" maxlength="21">
                                <button type="submit" class="btn btn-primary" onclick="add_tag()">Ajouter</button>
                                <small class="form-text text-muted">Tag sans espace(ex: #bio, #geek, #piercing)</small>
                                <div id="add_tag_err" class="form-control-feedback" hidden="hidden">Erreur dans le tag</div>
                                <small id="add_tag_err_mes" class="form-text text-muted" hidden="hidden">Votre tag doit:<br/>- Commencer pas un #<br/>- Contenir uniquement des lettres et chiffres<br/>
                                    - Posseder entre 1 et 20 caracteres (# non compris)
                                </small>
                            </div>
                        </div>
                        <div class='col-sm-2'></div>
                        <div class='col-sm-4'>
                            <div class="form-group">
                                <fieldset id="my_tag_dis" disabled>
                                    <select class="form-control" id="my_tag">
                                        <option>Aucun tag</option>
                                    </select>
                                </fieldset>
                                <button type="submit" class="btn btn-primary" onclick="del_tag()">Retirer</button>
                            </div>
                        </div>
                    </div>
                    <div class='text-right'>
                        <button type="submit" class="btn btn-primary text-right" onclick='search()'>Recherche</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-inline">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Trier par</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sort">
                    <option selected>Distance</option>
                    <option >Age</option>
                    <option >Score</option>
                    <option >Tag en commun</option>
                </select>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sens">
                    <option selected>Croissant</option>
                    <option >Decroissant</option>
                </select>

                <button type="submit" class="btn btn-primary" onclick="sort()">Valider</button>
            </form>
        </div></br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="vertical-align:middle; text-align:center">Photo</th>
                    <th style="vertical-align:middle; text-align:center">Login</th>
                    <th style="vertical-align:middle; text-align:center">
                        Age</br>
                        <small class="text-muted">Min <input id="age_min" type="number" min='16' max='120' value="16" style="width:40px"></small>
                        <script>document.getElementById('age_min').addEventListener('change', draw_table);</script>
                        <small class="text-muted">Max <input id="age_max" type="number" min='16' max='120' value="120" style="width:40px"></small>
                        <script>document.getElementById('age_max').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">
                        Distance(Km)</br>
                        <small class="text-muted">Max <input id="dist_max" type="number" min='1' value="50" style="width:40px"></small>
                        <script>document.getElementById('dist_max').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">
                        Tag en commun</br>
                        <small class="text-muted">Min <input id="tag_min" type="number" min='0' value="0" style="width:40px"></small>
                        <script>document.getElementById('tag_min').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">
                        Score</br>
                        <small class="text-muted">Min <input id="score_min" type="number" min='0' value="0" style="width:40px"></small>
                        <script>document.getElementById('score_min').addEventListener('change', draw_table);</script>
                        <small class="text-muted">Max <input id="score_max" type="number" min='0' value="100" style="width:40px"></small>
                        <script>document.getElementById('score_max').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">Profil</th>
                </tr>
            </thead>
            <tbody id='table'>
                <script>draw_table()</script>
            </tbody>
        </table>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>
