<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <script>
    let users = <%- JSON.stringify(users) %>
    </script>
    <script src='script/wall.js'></script>

    <div class="container">
        <div id="main_div" class="jumbotron">
            <div class="form-inline">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Trier par</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sort">
                    <option selected>Age</option>
                    <option >Distance</option>
                    <option >Score</option>
                    <option >Tag en commun</option>
                </select>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sens">
                    <option selected>Croissant</option>
                    <option >Decroissant</option>
                </select>

                <button type="submit" class="btn btn-primary" onclick="sort()">Valider</button>
            </form>
        </div></br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="vertical-align:middle; text-align:center">Photo</th>
                    <th style="vertical-align:middle; text-align:center">Login</th>
                    <th style="vertical-align:middle; text-align:center">
                        Age</br>
                        <small id="passwordHelpInline" class="text-muted">Min <input id="age_min" type="number" value="16" style="width:40px"></small>
                        <script>document.getElementById('age_min').addEventListener('change', draw_table);</script>
                        <small id="passwordHelpInline" class="text-muted">Max <input id="age_max" type="number" value="120" style="width:40px"></small>
                        <script>document.getElementById('age_max').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">
                        Tag en commun</br>
                        <small id="passwordHelpInline" class="text-muted">Min <input id="tag_min" type="number" value="1" style="width:40px"></small>
                        <script>document.getElementById('tag_min').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">
                        Score</br>
                        <small id="passwordHelpInline" class="text-muted">Min <input id="score_min" type="number" value="0" style="width:40px"></small>
                        <script>document.getElementById('score_min').addEventListener('change', draw_table);</script>
                        <small id="passwordHelpInline" class="text-muted">Max <input id="score_max" type="number" value="100" style="width:40px"></small>
                        <script>document.getElementById('score_max').addEventListener('change', draw_table);</script>
                    </th>
                    <th style="vertical-align:middle; text-align:center">Profil</th>
                </tr>
            </thead>
            <tbody id='table'>
                <script>draw_table()</script>
            </tbody>
        </table>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>
