<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <div id="main_div" class="jumbotron">
            Bonjour <%= login %></br></br>
            <%users.forEach((val) => { %>
                <%= val[0] %>: <%= val[1] %> tags en commun</br>
            <% }) %>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
